body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
flex: 1 0 auto;
}
.pac-container {
   z-index: 1051 !important;
}

#main-todolist-container {
 padding-top: 40px;
}
